<div class="container-fluid mt-2">
    <div class="row ms-4 me-4 mt-3">
        
        <div class="row">
            <div class="col-3">
                <input min="" max="20205-12-31" [(ngModel)]= "selectedDate" (ngModelChange)="filterDate()" type="date" class="btn colorB" id="fecven" name="fecven">
                <label class="letra"></label>
            </div>
            <div class="col-3 text-center ">
                <select style="color: aliceblue;" [(ngModel)]= "selectedEstado" (ngModelChange)="filtroEstado()"class="form-select card" aria-label="Default select example" >
                    <option value="1">Resueltos</option>
                    <option value="2">No resueltos</option>
                    <option value="3">Todos</option>
                </select>
            </div>
            <div class="col-3">
                <button class="btn colorB me-2 ms-2" (click)="cleanFilter()">Limpiar Filtros</button>
            </div>
            <div class="col-3 text-center ">
                <form class="d-flex ">
                    <input [(ngModel)]= "search" class="form-control me-2" type="search" placeholder="Search"
                        aria-label="Search" name="search">

                    <button class="btn colorB" type="button" (click)="filterSearch()" >Search</button>

                </form>
            </div>
        </div>
        <div class="row card mt-2">
            <table class="table text-center" style="color: white;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Estado</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reporte of reportes" >
                        <th scope="row"> <button type="button" (click)="modalReportes(reporte.idreporte)" class="btn btn-primary colorB" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                <span class="material-symbols-outlined">
                                    open_in_full
                                </span>
                            </button></th>
                        <td>{{reporte.Usuario.nombre}}</td>
                        <td>{{reporte.Usuario.email}}</td>
                        <td *ngIf="reporte.solucion; else elseBlock">resuelto</td>
                        <ng-template #elseBlock><td> Por resolver</td></ng-template>

                    </tr>

                    <!-- modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content card">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Reporte</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <p>{{modalText}}</p>

                                    </div>
                                    <div>
                                        <input [(ngModel)]= "modalRes"class="form-control colorB" id="nombre" name="nombre">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">cerrar</button>
                                    <button type="button" class="btn colorB "
                                        (click)=" enviarRespuesta()"data-bs-dismiss="modal">Responder</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- modal -->

                </tbody>
            </table>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" (click)="previousPage()">Previous</a></li>
                        <li class="page-item"><a class="page-link">{{actualPage}}</a></li>
                        <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
                    </ul>

                </nav>
            </div>

        </div>
    </div>
</div>