<div class="container">
    <!-- ng if -->
    <div class="row mt-3">
        <div class="row ">
            <div class="alert d-flex align-items-center colorBGC colorB" role="alert"
                style="width: 250px; height: 70px; border-radius: 26px;">
                <div class="text-white">
                    <h2>Crea tu cuenta</h2>
                </div>
            </div>
        </div>

        <div *ngIf="procesosCrearCuenta == 1" class="row colorBGC colorB mt-2">
            <!-- <div *ngIf="validarPlan;" class="alert alert-warning m-2" role="alert">
                Debe de seleccionar un plan
            </div>
            <div *ngIf="validarTerminos;" class="alert alert-warning m-2" role="alert">
                Debe aceptar los terminos
            </div> -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
                <form class="ms-3" [formGroup]="registroForm" (ngSubmit)="onSubmit()">
                    <!-- nombre -->
                    <div class="mb-3 mt-5  w-75  ">
                        <input class="form-control colorBGC colorB size" id="nombre" placeholder="Ingrese su Nombre"
                            type="text" formControlName="nombre">
                        <p *ngIf="validNombre;" style="color: yellow;">Nombre no valido</p>
                    </div>
                    <!-- apellido -->
                    <div class="mb-3 mt-5  w-75  ">
                        <input class="form-control colorBGC colorB size" id="apellido" placeholder="Ingrese su Apellido"
                            type="text" formControlName="apellido">
                        <p *ngIf="validApellido;" style="color: yellow;">Apellido no valido</p>
                    </div>
                    <!-- Rut -->
                    <div class="mb-3 mt-5  w-75  ">
                        <input class="form-control colorBGC colorB size" id="rut" placeholder="Ingrese su Rut"
                            formControlName="rut">
                        <p *ngIf="validRut;" style="color: yellow;">Rut no valido</p>
                    </div>
                    <!-- Correo electronico -->
                    <div class="mb-3 mt-5  w-75 ">
                        <input class="form-control colorBGC colorB size" type="email" id="correo"
                            formControlName="correo" placeholder="Ingrese su Correo Electronico">
                        <p *ngIf="validarCorreo" style="color: yellow;">Correo no valido</p>
                    </div>
                    <!-- Telefono -->
                    <div class="mb-3 mt-5  w-75 ">
                        <input class="form-control colorBGC colorB size" type="number" id="phone"
                            formControlName="telefono" placeholder="Ingrese su telefono">
                        <p *ngIf="validartelefono" style="color: yellow;">Telefono no valido(Ejemplo : 56784502)</p>
                    </div>


                    <!-- Contraseña y confirmar -->
                    <div class="mb-3 mt-5  w-75 ">
                        <input type="password" class="form-control size colorBGC colorB" id="pass"
                            formControlName="pass" placeholder="Ingrese su Contraseña">
                        <p *ngIf="validarPass" style="color: yellow;">Valor no valido</p>
                    </div>
                    <div class="mt-5  w-75 ">
                        <input type="password" class="form-control size colorBGC colorB" id="cpass"
                            formControlName="pass1" placeholder="Confirme su contraseña">
                        <p *ngIf="validarPass2" style="color: yellow;">Valor no valido</p>
                    </div>
                    <div class="mt-2 mb-4 col-sm-5 col-md-4 col-lg-3 col-xl-2"><button type="submit"
                            class="btn colorBGC colorB ">Confirmar</button>
                    </div>

                </form>


            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
                <div class="row mt-5">
                    <h3 class="text-center letra">Seleccion de Plan</h3>
                </div>
                <div class="row  mt-3">
                    <div *ngFor="let plan of plans" class="m-2 card col">
                        <p *ngIf="plan.idplan ==1"><input [(ngModel)]="BASICO" (change)="CheckboxChanges1()"
                                type="checkbox" id="first_checkbox" value="first_checkbox" /> {{plan.nombreplan}}</p>
                        <p *ngIf="plan.idplan ==2"><input [(ngModel)]="INTERMEDIO" (change)="CheckboxChanges2()"
                                type="checkbox" id="second_checkbox" value="second_checkbox" /> {{plan.nombreplan}}</p>
                        <p *ngIf="plan.idplan ==3"><input [(ngModel)]="AVANZADO" (change)="CheckboxChanges3()"
                                type="checkbox" id="third_checkbox" value="third_checkbox" /> {{plan.nombreplan}}</p>
                        <ol>
                            <li>Cantidad de perfiles admin 1</li>
                            <li>Cantidad de perfiles{{plan.cantidademp}}</li>
                            <li>Generar informes en excel</li>
                        </ol>
                        <hr>
                        <p>total = ${{plan.precio}}</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <p class="text-center  letra"> <input [(ngModel)]="checkboxTermState" type="checkbox"
                            id="term_checkbox" value="term_checkbox" />
                        Declaro
                        haber leido y aceptar los terminos y condiciones de la web</p>
                </div>

            </div>

        </div>
        <div *ngIf="procesosCrearCuenta == 2" class="row colorBGC colorB mt-2">
            <div class="row">
                <form class="ms-3" [formGroup]="tarjetaForm" (ngSubmit)="card()">
                    <div class="mb-3 mt-5  w-75  ">
                        <input class="form-control colorBGC colorB size" id="cardN"
                            placeholder="Ingrese su los numemros de tarjeta" minlength="15" maxlength="15" type="text" formControlName="cardNumber">
                        <p *ngIf="validNombre;" style="color: yellow;">Nombre no valido</p>
                    </div>
                    <div class="mb-3 mt-5  w-75 row  ">
                        <div class="col"><input class="form-control colorBGC colorB size" id="cvv" placeholder="CVV"
                                type="text" formControlName="cvv"  minlength="3" maxlength="3">
                            <p *ngIf="validNombre;" style="color: yellow;">Nombre no valido</p>
                        </div>
                        <div class="col"><input class="form-control colorBGC colorB size" id="mes"
                                placeholder="MES" type="text"
                                formControlName="mes" minlength="2" maxlength="2">
                            <p *ngIf="validNombre;" style="color: yellow;">Nombre no valido</p>
                        </div>
                        <div class="col"><input step="01" class="form-control colorBGC colorB size" id="ano"
                            placeholder="AÑO" type="text" formControlName="ano" minlength="2" maxlength="2">
                        <p *ngIf="validNombre;" style="color: yellow;">Nombre no valido</p></div>
                    </div>
                    <div class="mt-2 mb-4 col-sm-5 col-md-4 col-lg-3 col-xl-2"><button type="submit"
                            class="btn colorBGC colorB ">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>


</div>