<div class="container-fluid mt-2">
    <div class="row justify-content-center m-3 p-2 colorBGC colorB">
        <form [formGroup]="PerfilForm" (ngSubmit)="actualizarDatos()">
            <div class="form-group m-2">
                <label for="nombre">Nombre</label>
                <input formControlName="nombre" type="email" class="form-control" id="nombre" placeholder="Escriba su Nombre"  maxlength="25">
            </div>
            <div class="form-group m-2">
                <label for="apellido">Apellido</label>
                <input formControlName="apellido" type="text" class="form-control" id="apellido" placeholder="Escriba su apellido"  maxlength="25">
            </div>
            <div class="form-group m-2" >
                <label for="correo">Correo electronico</label>
                <input formControlName="correo" type="email" class="form-control" id="correo" placeholder="Escriba un correo">
            </div>
            <button type="submit" class="btn colorBGC colorB">Actualizar información</button>
        </form>
    </div>
<!-- Actualizar contraseña -->
    <!-- <div class="row justify-content-center m-3 p-2 colorBGC colorB">
        <form [formGroup]="PerfilForm" (ngSubmit)="actualizarDatos()">
            <div class="form-group m-2">
                <label for="nombre">Nombre</label>
                <input formControlName="nombre" type="email" class="form-control" id="nombre" placeholder="Escriba su Nombre" maxlength="25">
            </div>
            <div class="form-group m-2">
                <label for="apellido">Apellido</label>
                <input formControlName="apellido" type="text" class="form-control" id="apellido" placeholder="Escriba su apellido" maxlength="25">
            </div>
            <div class="form-group m-2" >
                <label for="correo">Correo electronico</label>
                <input formControlName="correo" type="email" class="form-control" id="correo" placeholder="Escriba un correo">
            </div>
            <button type="submit" class="btn colorBGC colorB">Actualizar información</button>
        </form>
    </div> -->
</div>