<div class="fondo">
    <div class="container">

        <div class="row">
            <div class="col-4 titulo colorBGC colorB">
                <h1 class=" letra text-center">Agregar Producto</h1>
            </div>



        </div>

        <div class="row colorBGC colorB mt-5 align-items-center">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
                <form class="ms-5">
                    <div class="mb-3 mt-5  w-75">
                        <input class="form-control colorBGC colorB" id="nombre" placeholder="Nombre">
                    </div>

                    <div class="mb-3 mt-5  w-75">
                        <input class="form-control colorBGC colorB" id="rut" placeholder="">
                    </div>

                    <div class="mb-3 mt-5  w-75">
                        <input type="password" class="form-control colorBGC colorB" id="pass1" placeholder="Contraseña">
                    </div>

                    <div class="mb-3 mt-5  w-75">
                        <input type="password" class="form-control colorBGC colorB" id="pass1" placeholder="Contraseña">
                    </div>

                    <div class="mb-5 mt-5  w-75">
                        <input type="password" class="form-control colorBGC colorB" id="pass2"
                            placeholder="Confirme su contraseña">
                    </div>

                </form>


            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">

                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                        <div class="mb-3 mt-5  w-75">
                            <input class="form-control colorBGC colorB" id="nombre" placeholder="Nombre">
                        </div>
                        <p>
                            <button class="btn colorBGC colorB" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Añadir
                            </button>
                        </p>
                        <div class="row justify-content-center">
                            <div class="col">
                                <div class="collapse w-50 fondo2 " id="collapseExample">
                                    <input class="form-control colorBGC colorB mb-1" id="nombre" placeholder="Nombre">
                                    <button class="btn colorBGC colorB" type="button">
                                        Marca
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                        <div class="mb-3 mt-5 ">

                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Action
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                              </div>

                        </div>
                        <p>
                            <button class="btn colorBGC colorB" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExample1" aria-expanded="false"
                                aria-controls="collapseExample">
                                Marca
                            </button>
                        </p>
                        <div class="collapse w-75" id="collapseExample1">
                            <input class="form-control colorBGC colorB mb-1" id="nombre" placeholder="Nombre">
                            <button class="btn colorBGC colorB" type="button">
                                Marca
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col">
                    <div class="row justify-content-center mt-5 mb-5">

                        <div class="col-sm-5 col-md-3 col-lg-4 col-xl-2 "><button type="submit"
                                class="btn colorBGC colorB ">Confirmar</button></div>

                    </div>
                </div>
            </div>

        </div>





    </div>
</div>