<div class="fondo">
    <div class="container">
        <div class="row ">
            <div class="row mt-3">
                <div class="alert d-flex align-items-center colorBGC colorB" role="alert"
                    style="width: 350px; height: 70px; border-radius: 26px;">
                    <div class="text-white">
                        <h2>Agrega tu producto</h2>
                    </div>
                </div>
            </div>

            <div class="row colorBGC colorB mt-3 mb-4 align-items-center" style="border-radius: 25px;">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
                    <form class="ms-3">
                        <div class=" mt-4  w-75">
                            <label class="letra mb-1">Codigo:</label>
                            <input [(ngModel)]="codebar" class="form-control colorBGC colorB letra" id="codigo"
                                name="codigo">
                            <label class="letra"> {{labelcodebar}}</label>
                        </div>

                        <div class=" mt-2  w-75">
                            <label class="letra mb-1">Nombre:</label>
                            <input [(ngModel)]="nombre" class="form-control colorBGC colorB" id="nombre" name="nombre">
                            <label class="letra"> {{labelnombre}}</label>
                        </div>

                        <div class="mt-2  w-75">
                            <label class="letra mb-1">Fecha vencimiento:</label>
                            <input [(ngModel)]="fecha" min="{{fechaFormateada}}" max="20205-12-31" type="date"
                                class="form-control colorBGC colorB" id="fecven" name="fecven">
                            <label class="letra">{{labelfecha}}</label>
                        </div>

                        <div class="mt-2  w-75">
                            <label class="letra mb-1">Cantidad:</label>
                            <input [(ngModel)]="cantidad" class="form-control colorBGC colorB" id="cantidad"
                                name="cantidad" placeholder="Cantidad">
                            <label for="" class="letra">{{labelcantidad}}</label>
                        </div>

                        <div class="mt-2  w-75">
                            <label class="letra mb-1">Precio a venta:</label>
                            <input [(ngModel)]="preven" class="form-control colorBGC colorB" id="preven" name="preven"
                                placeholder="Precio a venta">
                            <label for="" class="letra">{{labelpreven}}</label>
                        </div>

                        <div class="mt-2  w-75">
                            <label class="letra mb-1">Precio de llegada:</label>
                            <input [(ngModel)]="prelle" class="form-control colorBGC colorB" id="prelle" name="prelle"
                                placeholder="Precio llegada">
                            <label for="" class="letra">{{labelprelle}}</label>
                        </div>

                    </form>


                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">

                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                            <div class="mb-3 mt-2">
                                <label for="" class="letra">Marca:</label>
                                <select class="colorB colorBGC text-center ms-3" style="width:105px; height: 40px;" aria-label="Default select example" [(ngModel)]="marcaid">
                                    
                                    <option *ngFor="let marca of marcas" [value]="marca.idmarca">
                                        {{marca.nombremarca}}
                                    </option>
                                </select>
                                <br>
                                <label for="" class="letra ms-3">{{labelmarca}}</label>
                            </div>
                            
                                <button class="btn colorBGC colorB" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    ¿No esta? ¡Añadela!
                                </button>
                            
                            <div class="row justify-content-center">
                                <div class="col">
                                    <div class="collapse w-50 fondo2 mt-3" id="collapseExample">
                                        <input class="form-control colorBGC colorB mb-1" id="nombre"
                                            placeholder="Nombre">
                                        <button class="btn colorBGC colorB" type="button">
                                            Marca
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                            <div class="mb-3 mt-5 w-75 ">
                                <label for="" class="letra">Empresa:</label>
                                <select class="colorB colorBGC text-center ms-2" style="width:105px; height: 40px;" aria-label="Default select example" [(ngModel)]="empresaid">
                                    <option *ngFor="let empresa of empresas" [value]="empresa.idempresa">
                                        {{empresa.nombreempresa}}
                                    </option>
                                </select>
                                <label for="" class="letra ms-3">{{labelempresa}}</label>
                                
                                
                                    
                                

                            </div>
                            
                                <button class="btn colorBGC colorB" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample1" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    ¿No esta? ¡Añadela!
                                </button>
                            
                            <div class="collapse w-75 mt-3" id="collapseExample1">
                                <input class="form-control colorBGC colorB mb-1" id="nombre" placeholder="Nombre">
                                <button class="btn colorBGC colorB" type="button">
                                    Añadir
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col">
                        <div class="row justify-content-center mt-3 mb-3">

                            <div class="col-sm-5 col-md-3 col-lg-4 col-xl-2 "><button type="submit"
                                    class="btn colorBGC colorB" (click)="agregarProducto()">Confirmar</button></div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>