<div class="container-fluid mt-2">
    <div class="row ms-4 me-4 mt-3">

        <div class="row">
            <div class="col-9 ">
                <div class="row align-items-end ">
                    <div *ngIf="opcionHistorial ==1" class="col">
                        <input [(ngModel)]="opcionFecha" (ngModelChange)="setFecha()" min=""
                            max="20205-12-31" type="date" class="btn colorB me-2 " id="fecven" name="fecven">
                        <label class="letra"></label>
                    </div>

                    <div *ngIf="opcionHistorial ==2" class="col-4">
                        <div ><label class="letra">Fecha Ingreso :</label></div>
                        <div ><input *ngIf="opcionHistorial ==2" [(ngModel)]="opcionFechaIngreso"
                                (ngModelChange)="setFecha()" min="" max="20205-12-31" type="date"
                                class="btn colorB me-2" id="fecven" name="fecven">
                        </div>
                        <label class="letra">
                            Fecha Vencimiento :
                        </label>
                        <div ><input [(ngModel)]="opcionFechaVencimiento" (ngModelChange)="setFecha()"
                                min="" max="20205-12-31" type="date" class="btn colorB me-2" id="fecven" name="fecven">
                        </div>

                    </div>

                    <div *ngIf="opcionHistorial == 2" class="col">
                        <button type="button" class="btn btn-primary colorB ms-2" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Buscar Monto
                        </button>
                    </div>
                    <!-- Button trigger modal -->

                    <div class="col">
                        <button class="btn colorB me-2 ms-2" (click)="cleanFilter()">Limpiar Filtros</button>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content card">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Monto</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label for="customRange2" class="form-label">Rango 0 - {{opcioNumeroMaximo}}</label>
                                <input type="range" [(ngModel)]="opcioNumeroMaximo" class="form-range" min="0"
                                    max="500000" id="customRange2">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
                                <button type="button" (click)="setRangoPrecio()" class="btn colorB "
                                    data-bs-dismiss="modal">buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-3 text-center align-self-end">
                <select [(ngModel)]="opcionHistorial" (ngModelChange)="changeTable()" class="form-select card"
                    aria-label="Default select example">
                    <option value="1">Ventas</option>
                    <option value="2">Ingresos</option>
                </select>
            </div>
        </div>
        <div class="row card mt-2 table-responsive">
            <table class="table text-center " style="color: white;">
                <thead>
                    <tr>
                        <th scope="col" *ngIf="opcionHistorial == 2">Barcode</th>
                        <th scope="col" *ngIf="opcionHistorial == 2">Nombre</th>
                        <th scope="col" *ngIf="opcionHistorial == 2">Fecha Ingreso</th>
                        <th scope="col" *ngIf="opcionHistorial == 2">Fecha Venc</th>
                        <th scope="col" *ngIf="opcionHistorial == 2">Precio llegada</th>
                        <th scope="col" *ngIf="opcionHistorial == 1">#</th>
                        <th scope="col" *ngIf="opcionHistorial == 1">id</th>
                        <th scope="col" *ngIf="opcionHistorial == 1">Fecha de la venta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of tablaActivo.slice(displacement, displacement+10)">
                        <th *ngIf="opcionHistorial == 1" scope="row">
                            <button (click)="setTablaDetalle(product.DetalleVentas)" type="button"
                                class="btn btn-primary colorB" data-bs-toggle="modal" data-bs-target="#ModalInventario">
                                <span class="material-symbols-outlined">
                                    open_in_full
                                </span>
                            </button>
                        </th>
                        <td *ngIf="opcionHistorial ==2">{{ product.barcode }}</td>
                        <td *ngIf="opcionHistorial ==2">{{ product.nombre}}</td>
                        <td *ngIf="opcionHistorial ==2">{{ product.fechaingreso}}</td>
                        <td *ngIf="opcionHistorial ==2">{{ product.fechavencimiento}}</td>
                        <td *ngIf="opcionHistorial ==2">{{ product.preciollegada}}</td>

                        <td scope="col" *ngIf="opcionHistorial == 1">{{product.idboleta}}</td>
                        <td scope="col" *ngIf="opcionHistorial == 1">{{ product.fecha}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- modal -->
        <div class="modal fade" id="ModalInventario" tabindex="-1" aria-labelledby="exampleModalInventario"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content card">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalInventario" style="color: aliceblue;">Producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div style="color: aliceblue;">

                            <table class="table text-center " style="color: white;">
                                <thead>
                                    <tr>
                                        <th scope="col">Producto</th>
                                        <th scope="col">Cantidad</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let detalle of detalleSelected">
                                        <td>{{detalle.Producto.nombreproducto}}</td>
                                        <td>
                                            {{detalle.cantidad}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->
        <div class="row mt-2 justify-content-center">
            <div class="col-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" (click)="previousPage()">Previous</a></li>
                        <li class="page-item"><a class="page-link">{{actualPage}}</a></li>
                        <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>