<div class="container">

    <div class="row">
        <div class="col-4 titulo" ><h1 class=" letra text-center">Crear perfil</h1></div>
        
        

    </div>

    <div class="row colorBGC colorB mt-5">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <form class="ms-5">
                <div class="mb-3 mt-5  w-75">
                  <input  class="form-control colorBGC colorB" id="nombre" placeholder="Ingrese su nombre">
                </div>
            </form>
            

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <div class="row mt-5">
                <h3 class="text-center  letra">Previsualización de perfil</h3>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-lg-6 col-md-8 col-sm-10 col-xl-4">
                    <img src="../../assets/imagenes/Fondo.jpg" class="rounded-circle img" alt="...">
            </div>
                
            </div>
            <div class="row justify-content-center mt-5 mb-5">

                <div class="col-sm-5 col-md-4 col-lg-3 col-xl-2"><button type="submit" class="btn colorBGC colorB ">Confirmar</button></div>
                
            </div>
            
            
            
        </div>

    </div>

    

</div>
