.titulo{
    background-color: #1D313C;
    border-radius: 7px;
    padding: 20px;
    height: 100px;
}

.letra{
    color: antiquewhite;
}

.color{
    background-color: #1D313C;
}


.colorBGC{
    background: rgba(29, 49, 60, 0.9); 
}

.colorB{
    border-radius: 7px; 
    border-color: rgba(196, 59, 57, 0.7);
}

input, select, textarea{
    color: antiquewhite;
}

textarea:focus, input:focus {
    color: antiquewhite;
}

::placeholder {
    color: antiquewhite;
    
}

input:focus { 
    outline: none !important;
    border-color: rgba(196, 59, 57, 0.7);
    box-shadow: 0 0 10px rgba(196, 59, 57, 0.7);
}

button{
    color: antiquewhite;
}

button:hover{
    color: antiquewhite;
    background-color: #2e4f5f;
    
}

button:focus{
    box-shadow: 0 0 10px rgba(196, 59, 57, 0.7);
}

.img{
    width: 200px;
    height: 200px;
}



.largo{
    min-height: 370px;
}


