<div class="fondo">
    <div class="container">

        <div class="row">
            <div class="col-4 titulo colorBGC colorB" ><h1 class=" letra text-center">Ajuste Planes</h1></div>
            
            

        </div>

        <div class="row colorBGC colorB mt-5">

            <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 mt-5 mb-5">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/imagenes/Fondo.jpg" alt="Card image cap">
                    <div class="card-body colorBGC">
                      <h5 class="card-title letra">Plan basico</h5>
                      <p class="card-text letra">Este plan contiene hasta un maximo de 5 trabajadores</p>
                      <a href="#" class="btn  colorBGC colorB letra">Elegir</a>
                    </div>
                  </div>
                

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 mt-5 mb-5">
                <div class="card " style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/imagenes/Fondo.jpg" alt="Card image cap">
                    <div class="card-body colorBGC">
                      <h5 class="card-title letra">Plan plus</h5>
                      <p class="card-text letra">Este plan contiene hasta un maximo de 5 trabajadores</p>
                      <a href="#" class="btn colorBGC colorB letra">Elegir</a>
                    </div>
                  </div>
                

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4 mt-5 mb-5">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/imagenes/Fondo.jpg" alt="Card image cap">
                    <div class="card-body colorBGC">
                      <h5 class="card-title letra">Plan Premiere</h5>
                      <p class="card-text letra">Este plan contiene hasta un maximo de 5 trabajadores</p>
                      <a href="#" class="btn colorBGC colorB letra">Elegir</a>
                    </div>
                  </div>
                

            </div>

            

        </div>

        

    </div>
</div>
