.colorBGC{
    background: rgba(29, 49, 60, 0.9); 
}

.colorB{
    border-radius: 19px; 
    border-color: rgba(196, 59, 57, 0.7);
    filter: drop-shadow( 0rem 0.4rem 2px rgba(0, 0, 0, 0.25));
}

.btnT{
    width: 35px;
    height: 35px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }