<div class="container-fluid">
    <div class="row ms-3 me-3 mt-3">
        
        <div class="row mt-2 justify-content-between">
            <div class="col-md-12 mb-3 col-lg-6 col-xl-7">
                <div class="row">
                    <div class="col-5">
                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                            <symbol id="info-fill" fill="white" viewBox="0 0 16 16">
                                <path
                                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                            </symbol>
                        </svg>
                        <div class="alert d-flex align-items-center colorBGC colorB" role="alert"
                            style="right: 64px; width: 456px; height: 70px;">
                            <svg class="bi flex-shrink-0 me-3 ms-4" width="40" height="40" role="img"
                                aria-label="Info:">
                                <use xlink:href="#info-fill" />
                            </svg>
                            <div class="text-white" style="font-size: 20px;">
                                Escanee o ingrese el código de barras.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-end mt-5 text-white">
                    <div class="col">
                        <div class="card colorBGC colorB text-white ">
                            <div class="card-body">
                                <div class="mb-3 mt-2 align-items-center row">
                                    <label for="Codigo" class="col-sm-3 col-form-label">Código</label>
                                    <div class="col-sm-9">
                                        <input [(ngModel)]="codebar"
                                            class="form-control-plaintext text-white colorBGC colorB text-center"
                                            id="codigo" placeholder="Ingrese o escanee el código de barras"
                                            style="border-radius: 10px; height: 45px;">
                                    </div>
                                    <div class="col-7 offset-4 mt-1 text-center">
                                        <label>{{labelcodebar}}</label>
                                    </div>
                                </div>
                                <div class="mb-3 mt-2 align-items-center row">
                                    <label for="Codigo" class="col-sm-3 col-form-label">Nombre del producto</label>
                                    <div class="col-sm-9">
                                        <input [(ngModel)]="nombre"
                                            class="form-control-plaintext text-white colorBGC colorB text-center"
                                            id="nombreProducto" placeholder="Ingrese el nombre del Producto"
                                            style="border-radius: 10px; height: 45px;">
                                    </div>
                                    <div class="col-7 offset-4 text-center">
                                        <label>{{labelnombre}}</label>
                                    </div>
                                </div>
                                <div class="mb-3 mt-2 align-items-center row">
                                    <label for="Codigo" class="col-sm-3 col-form-label">Cantidad</label>
                                    <div
                                        class="col-2 offset-3 col-sm-2 offset-sm-1 col-md-1 offset-md-3 col-lg-2 offset-lg-1 col-xl-1 offset-xl-3 text-center">
                                        <button class="btn btn-danger btnT">-</button>
                                    </div>
                                    <div class="col-2 col-sm-2 col-md-1 col-lg-2 col-xl-1 align-items-center me-xl-2">
                                        <input [(ngModel)]="cantidad"
                                            class="form-control-plaintext text-white colorBGC colorB text-center"
                                            id="nombreProducto" placeholder="0"
                                            style="border-radius: 10px; height: 45px; width: 45px;">
                                    </div>
                                    <div class="col-2 col-sm-1 col-md-1 col-lg-2 col-xl-1 text-center"><button
                                            class="btn btn-success btnT">+</button></div>
                                </div>

                                <div class="col-7 offset-4 mb-3 text-center">
                                    <label>{{labelcantidad}}</label>
                                </div>

                                <div class="row justify-content-center mb-2 mt-1">
                                    <div class="col-5">
                                        <button (click)="cancelarVenta()" type="button" class="btn btn-danger colorB"
                                            style="width: 160px; height: 40px;">Cancelar</button>
                                    </div>
                                    <div class="col-4">
                                        <button (click)="valVenta()" type="button"
                                            class="btn colorBGC colorB text-white"
                                            style="width: 160px; height: 40px;">Agregar</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-12 mt-md-4 col-lg-6 mt-lg-0 col-xl-5">
                <div class="card colorBGC colorB text-white text-center">
                    <div class="row">
                        <div class="card-body">
                            <table class="table text-white ">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Producto</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Detergente Omo 15LTs</td>
                                        <td>2</td>
                                        <td>$1500</td>
                                        <td><img src="../../assets/Icon/borrar.png" alt="Basurero" width="20"
                                                height="20"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Detergente Omo 15LTs</td>
                                        <td>2</td>
                                        <td>$1500</td>
                                        <td><img src="../../assets/Icon/borrar.png" alt="Basurero" width="20"
                                                height="20"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Detergente Omo 15LTs</td>
                                        <td>2</td>
                                        <td>$1500</td>
                                        <td><img src="../../assets/Icon/borrar.png" alt="Basurero" width="20"
                                                height="20"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Detergente Omo 15LTs</td>
                                        <td>2</td>
                                        <td>$1500</td>
                                        <td><img src="../../assets/Icon/borrar.png" alt="Basurero" width="20"
                                                height="20"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Detergente Omo 15LTs</td>
                                        <td>2</td>
                                        <td>$1500</td>
                                        <td><img src="../../assets/Icon/borrar.png" alt="Basurero" width="20"
                                                height="20"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Detergente Omo 15LTs</td>
                                        <td>2</td>
                                        <td>$1500</td>
                                        <td><img src="../../assets/Icon/borrar.png" alt="Basurero" width="20"
                                                height="20"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Detergente Omo 15LTs</td>
                                        <td>2</td>
                                        <td>$1500</td>
                                        <td><img src="../../assets/Icon/borrar.png" alt="Basurero" width="20"
                                                height="20"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Detergente Omo 15LTs</td>
                                        <td>2</td>
                                        <td>$1500</td>
                                        <td><img src="../../assets/Icon/borrar.png" alt="Basurero" width="20"
                                                height="20"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <td scope="col">Fecha Facturación: </td>
                                    <td scope="col"> 17-04-2024 </td>
                                    <td scope="col">Total: </td>
                                    <td scope="col">$15000</td>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-5">
                        <button type="button" class="btn btn-danger colorB"
                            style="width: 160px; height: 40px;">Cancelar</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn colorBGC colorB text-white"
                            style="width: 160px; height: 40px;">Pagar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>