<div class="container-fluid mt-2">
    <div class="row ms-4 me-4 mt-3">
        <div class="row">
            <div class="col-8">
                <button class="btn colorB me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Generar
                    Perdida</button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Generar Perdidas</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form class="d-flex ">
                                <div class="modal-body">
                                    <input [(ngModel)]="barcode" class="form-control me-2 "
                                        placeholder="Codigo de barras" name="barcode">
                                    <textarea [(ngModel)]="desc" class="form-control me-2 mt-2 "
                                        placeholder="Descripción" name="desc"></textarea>
                                    <input [(ngModel)]="cant" type="number" class="form-control me-2 mt-2 "
                                        placeholder="Cantidad" name="cant">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn colorB " data-bs-dismiss="modal" aria-label="Close"
                                        (click)="postPerdidas()">Generar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <button class="btn colorB me-2 ms-2" (click)="addProduct()">Añadir Producto</button>

                <button class="btn colorB me-2 ms-2" (click)="cleanFilter()">Limpiar Filtros</button>
            </div>

            <div class="col-4">
                <form class="d-flex ">
                    <input [(ngModel)]="search" class="form-control me-2" type="search" placeholder="Search"
                        aria-label="Search" name="search">

                    <button class="btn colorB" type="button" (click)="filter()">Search</button>

                </form>
            </div>
        </div>
        <div class="row card mt-2">
            <table class="table text-center" style="color: white;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productos.slice(displacement, displacement+10)">
                        <th scope="row"> <button type="button" (click)="modalInventario(product.id)"
                                class="btn btn-primary colorB" data-bs-toggle="modal" data-bs-target="#ModalInventario">
                                <span class="material-symbols-outlined">
                                    open_in_full
                                </span>
                            </button></th>
                        <td>{{ product.barcode }}</td>
                        <!-- <td>{{ product.idproducto}}</td> -->
                        <td>{{ product.nombreproducto }}</td>
                        <td>{{ product.Marca.nombremarca }}</td>
                        <td>{{ product.precio }}</td>
                    </tr>
                </tbody>
            </table>
            <!-- modal -->
            <div class="modal fade" id="ModalInventario" tabindex="-1" aria-labelledby="exampleModalInventario"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content card">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalInventario">Reporte</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <p></p>

                            </div>
                            <div>
                                <input class="form-control colorB" id="nombre" name="nombre">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
                            <button type="button" class="btn colorB " data-bs-dismiss="modal">Responder</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->

        </div>
        <div class="row mt-2 justify-content-center">
            <div class="col-3 align-items-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" (click)="previousPage()">Previous</a></li>
                        <li class="page-item"><a class="page-link">{{actualPage}}</a></li>
                        <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>