<div class="container-fluid mt-2">
    <div class="row ms-4 me-4 mt-3">
        <div class="row mb-3">
            <!-- Aqui deberia ir el menu que se despliega a la derecha-->
            <div class="col-2">
                <img src="../../assets/Icon/usuario.png" alt="Imagen perfil" class="float-start"
                    style="width: 80px; height: 80px;">
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <button class="btn colorB me-2">Generar Perdida</button>
            
                <button class="btn colorB me-2 ms-2" (click)="addProduct()">Añadir Producto</button>
            
                <button class="btn colorB me-2 ms-2" (click)="cleanFilter()">Limpiar Filtros</button>
            </div>

            <div class="col-4">
                <form class="d-flex ">
                    <input [(ngModel)]="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">

                    <button class="btn colorB" type="button" (click)="filter()">Search</button>

                </form>
            </div>
        </div>
        <div class="row card mt-2">
            <table class="table text-center" style="color: white;">
                <thead>
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productos">
                        <td>{{ product.idproducto }}</td>
                        <td>{{ product.nombreproducto }}</td> 
                        <td>{{ product.marca }}</td> 
                        <td>{{ product.precio }}</td>
                    </tr>
                </tbody>
            </table>
            

        </div>
        <div class="row mt-2 justify-content-center">
            <div class="col-3 align-items-center">
                 <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
            </div>
           
        </div>
    </div>
</div>