<div class="container mt-2">
    <div>
        <span class="material-icons" style="font-size:40px; color:black;">
            account_circle
        </span>
    </div>
    <div class="row">
        <div class="col-2">
            <button class="btn colorB">invnetario</button>
        </div>
        <div class="col-2">
            <button class="btn colorB">limipeza</button>
        </div>
        <div class="col-2  ">
            <button class="btn colorB ">Añadir Producto</button>
        </div>

        <div class="col-4 position-absolute end-0">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn colorB" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="row card mt-5 ">
        <table class="table" style="color: white;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>asd</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>das</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>df</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>df</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>df</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>df</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>df</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row mt-2">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>