<div *ngIf="perfilA" class="row mt-2" >
    <div class="col-1 text-center ms-5 mt-2">
        <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><img
                src="../../assets/Icon/usuario.png" alt="FotoPerfil" width="90" height="90">
        </a>
        <div class="navO  offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <img src="../../assets/Icon/usuario.png" alt="FotoPerfil" width="60" height="60">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">OrdenaloTodo</h5>
                <button type="button" class="btn-close text-reset " data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" *ngIf="perfilA.passadmin != null">
                <div >
                    <ul class="list-group list-group-flush" style="font-size: 18px;" >
                        <li class="list-group-item mt-2"><a href="/AjustePlan">Cambiar plan</a></li>
                        <li class="list-group-item mt-2"><a href="/Venta">Venta</a></li>
                        <li class="list-group-item mt-2"><a href="/Inventario">Inventario</a></li>
                        <li class="list-group-item mt-2"><a href="/AdministrarPerfiles">Administrar Perfiles</a></li>
                        <li class="list-group-item mt-2" *ngIf="cantperfiles < plan.cantidademp "><a href="/CrearPerfil">Crear Perfiles</a></li>
                        <li class="list-group-item mt-2"><a href="/Historial">Historial</a></li>
                        <li class="list-group-item mt-2"><a href="/Informes">Estado del Negocio</a></li>
                        <li class="list-group-item mt-2"><a href="/ReportarProblema">Reportar un problema</a></li>
                        <li class="list-group-item mt-2"><a href="/Perfil">Perfil</a></li>
                    </ul>
                </div>
            </div>
            <div class="offcanvas-body" *ngIf="perfilA.passadmin == null">
                <div>
                    <ul class="list-group list-group-flush" style="font-size: 18px;">
                        <li class="list-group-item mt-2"><a href="/Venta">Venta</a></li>
                    </ul>
                </div>
            </div>
            <div class="offcanvas-footer mb-2" *ngIf="userA.rol != 2">
                <button class="btn" (click)="inactivateUser()">Cambiar Perfil</button>
            </div>
            <div class="offcanvas-footer mb-2">
                <button class="btn" (click)="cerrarSesion()">Cerrar Sesión</button>
            </div>
        </div>
    </div>
    
</div>
<div *ngIf="userA && userA.rol==2" class="row mt-2" >
    <div class="col-1 text-center ms-5 mt-2">
        <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><img
                src="../../assets/Icon/usuario.png" alt="FotoPerfil" width="90" height="90">
        </a>
        <div class="navO  offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <img src="../../assets/Icon/usuario.png" alt="FotoPerfil" width="60" height="60">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">OrdenaloTodo</h5>
                <button type="button" class="btn-close text-reset " data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            
            <div class="offcanvas-body">
                <div>
                    <ul class="list-group list-group-flush" style="font-size: 18px;">
                        <li class="list-group-item mt-2"><a href="/AjustePlan">Cambiar plan</a></li>
                        <li class="list-group-item mt-2"><a href="/HistorialReportes">Historial Reporte</a></li>
                    </ul>
                </div>
            </div>
            <div class="offcanvas-footer mb-2">
                <button class="btn" (click)="cerrarSesion()">Cerrar Sesión</button>
            </div>
        </div>
    </div>
    
</div>
<router-outlet />
