<div class="container">
    <div class="row text-center mt-3 align-items-center">
        
        <div class="col-md-2">
            <button type="button" (click)="irHome()" class="btn btn-outline-dark" style="font-size: 20px;"><b>Cerrar Sesion</b></button>
        </div>
        <div class="col-md-2 offset-8" *ngIf="!perfiladmin">
            <a href="/CrearJefe" class="btn btn-outline-dark" style="font-size: 20px;">Crear Jefe</a>
        </div>
    </div>

    <div class="row mt-4 justify-content-center">
        <div class="col-sm-8 col-md-6 col-lg-4 col-xl-4 text-center">
            <h1 class="txtT">¿Quién eres?</h1>
        </div>
    </div>
    <div class="row mt-5 text-center justify-content-center">
        <div *ngFor="let p of perfiles" class="col-sm-5 col-md-4 col-lg-4 col-xl-3 mt-5">
            <a data-bs-toggle="modal" data-bs-target="#iniciosesionModal" (click)="inactivateUser(p.id)">
                <img src="../../assets/Icon/usuario.png" *ngIf="p.passadmin != null" alt="FotoPerfil" width="150" height="150">
            </a>
            <a data-bs-toggle="modal" data-bs-target="#iniciosesionModal">
                <h3 class="txt mt-3 ms-3" *ngIf="p.passadmin != null">{{p.nombre}} <img src="../../assets/Icon/candado.png" alt="Block" class="img"></h3>
            </a>
            <!-- modal -->
            <div class="modal fade " id="iniciosesionModal" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content card">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese la contraseña</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mt-2">
                            <input type="password" [(ngModel)]="pass" class="form-control colorBGC colorB"
                             placeholder="Contraseña">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn colorB "
                            data-bs-dismiss="modal" (click)="activarAdmin(p.id)">Iniciar</button>
                    </div>
                    
                </div>
            </div>
            </div>
            <img src="../../assets/Icon/usuario.png" *ngIf="p.passadmin == null" (click)="activarUser(p.id)" alt="FotoPerfil" width="150" height="150">
            <h3 class="txt mt-3" *ngIf="p.passadmin == null" (click)="activarUser(p.id)">{{p.nombre}}</h3>
        </div>
    </div>
</div>
