<div class="container">    
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-8 col-md-6 col-lg-4 col-xl-4 text-center">
            <h1 class="txtT">¿Quién eres?</h1>
        </div>
    </div>
    <div class="row mt-5 text-center justify-content-center">
        <div (click)="activarUser(p.id)" *ngFor="let p of perfiles" class="col-sm-5 col-md-4 col-lg-4 col-xl-3 mt-5">
            <img src="../../assets/Icon/usuario.png" alt="FotoPerfil" width="150" height="150">
            <h3 class="txt mt-3">{{p.nombre}}</h3>
        </div>
    </div>
</div>
