.txtT{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    opacity: 0.9;
    font-size: 55px;
}

.txt{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    opacity: 0.9;
    font-size: 30px;
}