.txtT{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    opacity: 0.9;
    font-size: 53px;
}

.txt{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    opacity: 0.9;
    font-size: 30px;
}

.img{
    height: 20px;
}
