
    <div class="d-flex justify-content-center " id="bar">
        <h2>¡Bienvenido a OrdenaloTodo!</h2>
    </div>
    <div id="fondo">
    <div class="container">

        <div class="row">
            <div class="col-8">
                <!-- imagen carrusel -->
                <div class="row">
                    <h5>“En OrdenaloTodo, llevamos la gestión de inventario y ventas de bazares al siguiente nivel.”
                    </h5>
                </div>
                <div class="row">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/imagenes/referencia1.jpg" class="img-thumbnail" alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/imagenes/referencia1.jpg" class="img-thumbnail" alt="">

                            </div>
                            <div class="carousel-item">
                                <img src="assets/imagenes/referencia1.jpg" class="img-thumbnail" alt="">

                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="h-100 d-flex justify-content-center align-items-center">
                    <div class="d-flex flex-column p-2 justify-content-center align-items-center" id="card">
                        <div class="col">
                            <h3>¿Ya posees cuenta?</h3>
                        </div>
                        <div class="col  mt-3">
                            <button type="submit" class="btn colorB ">Iniciar Sesión</button>
                        </div>
                        <hr>
                        <div class="col">
                            <button type="submit" class="btn colorB ">Crear Cuenta</button>
                        </div>
                        <div class="col mt-3">
                            
                            <a href="#">¿Olvidaste tu contraseña?</a>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>